<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MIS MQTT Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </head>
  <body>
  <div style="margin-top: 50px;">
  <div class="container">
      <button style="margin-bottom: 30px;" id="ajaxButton" type="button" class="{{ 'btn btn-success' if (status=='on') else 'btn btn-danger' }}">Status: {{ status }}</button>
    <table class="table table-bordered table-hover table-striped text-center">
      <thead>
        <tr>
          <td>Topic Name</td>
          <td>Voltage</td>
          <td>Device ID</td>
          <td>Current</td>
          <td>Power</td>
          <td>Created At</td>
        </tr>
      </thead>
      <tbody>
        {% for item in sensor_data %}
        <tr>
          <td style="{{ 'background-color: #17a2b8;' if (item.topic=='apptodev') else '' }}">{{ item.topic }}</td>
          <td>{{ item.voltage }}</td>
          <td>{{ item.device_id }}</td>
          <td>{{ item.current }}</td>
          <td>{{ item.power }}</td>
          <td>{{ item.created_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  
  </div>
  </body>
  <script>
    (function() {
      const updateStatus = () => {
        fetch("/api/update-device-status").then(res => res.json()).then(data => console.log(data));
      };
      document.getElementById('ajaxButton').addEventListener("click", updateStatus);
    })(); 
    setTimeout(function () {
      window.location.reload(1);
    }, 1000);
  </script>
</html>
